In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fakedata.csv")

In [3]:
df.head()

   height   salary
0      75   100052
1      72    95859
2      58    12558
3      80  2999887